@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #fbf6eb;
  --text-color: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #202020;
    --text-color: #ebf0fa;
  }
}

body {
  color: var(--text-color);
  background: var(--bg-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
