@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --bg-color: #fbf6eb;
  --text-color: #000000;
  --shadow-color: #00000033;
  --glyph-color-filter: invert(0%) brightness(100%) contrast(100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #202020;
    --text-color: #ebf0fa;
    --shadow-color: #ebf0fa33;
    --glyph-color-filter: invert(100%) brightness(100%) contrast(100%);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
