.title {
  filter: drop-shadow(0 4px 10px var(--shadow-color));
}

.glyph {
  position: absolute;
  z-index: -10;
  aspect-ratio: 1 / 1;
  height: calc(60px + 5vw);
  width: calc(60px + 5vw);
}

.glyphThick {
  top: 0;
  right: 0;
  translate: 50% -50%;
}

.glyphThin {
  bottom: 0;
  left: 0;
  translate: -50% 50%;
}
